*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/*inizio stilizazione header con l inserimento del immagine
con url e il suo dimensionamento con  contain*/
header{
    background-color:#ADD8E6;
    padding-top: 20px;
}

.container-header{
    margin-bottom: 20px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
}

 .naviga {
    height: 30%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
 }

 nav{
     border: dotted;
 }

.login{
    text-align: right;
    padding: 10px;
    background-color: #5CB7F2;
    border-radius:40px;
}

span{
    background-color: #5CB7F2;
    border-radius:10px;
    font-size:  15px;
    padding:  5px;
    margin: 10px   ;
    color: white;
    height: 20px; 
}






 
.sezione1 {
    display: flex;
    height: 300px; ; 
    justify-content: center;
    border: 2px dotted;
              
}
       
.sezione1 div{
    width: 500px;
    border: 2px dotted black;
    background-color: #FFC0CB;
    height: 250px;
    margin: auto;
    text-align: center;
       
}





.sezione2,.sezione4{
    max-width: 100%;
    display: flex;
    justify-content: center;
 /* flex-direction: row-reverse;*/
    margin-bottom:5% ; 
}
/* regole per dare dimensione all`immagini*/
.sezione2 .right img{
    height: 100%;
    width: 100%;  
}
.sezione3 .left img{
    height: 100%;
    width: 100%;  
}

.sezione4 .right img{
    height: 100%;
    width: 100%;  
}
.sezione5 .centrale img{
   
    height: 100%;
    width: 100%;  
}
     



   
   


.sezione3 {
    display: flex;
    max-width: 100%;
    background-color:white ;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    background-color: #D3D3D3;
    height: 350px;
}

.sezione5{
    background-color:#D3D3D3 ;
    width: 100%;
    
    padding: 30px;
}
 
.sezione3 .right{
    background-color: #FFC0CB;
    width: 25%;
    height: 300px;

}

.sezione3 .left{
    background-color: #1E90FF;
    width: 60%;
    height: 300px;
}

.left{
     width: 25%;
     height: 300px;
     background-color: #FFC0CB;
     border: dotted black;
 }
 .right{
    width: 60%;
    height: 300px;
    background-color: #1E90FF;
    border: dotted black;
}

.centrale {
    height: 100%;
    width: 80%;
    background-color:#228B22 ;
    border: dotted black;
    margin: auto;
}
 
.footer-top{
    display: flex;
    border: 3px dotted ;
    width:80% ;
    margin: auto;
    padding-top:10px;  
}

footer{
    background-color:#23272A
}
  /* height: 300px; da eliminare dopo l ìnserimento del contenuto
   altrementi straborda */
.col1  {
    width: 30%;
    background-color: #F08080;
    border: 2px dotted black ;
    color: #1E90FF;

}

.Italia img{
    width: 20px;
}
.Italia{
   font-size: x-small;
   margin-bottom: 10px;
   color: black; 
}




.footer-top .col  {
    width: calc(70% / 4);
    
    background-color: #20B2AA;
    border: 2px dotted white ; 
}
.footer-bootom{
    display: flex;
    width:80% ;
    margin: 50px  auto 0;
    justify-content:space-between;
    background-color:#7FFFD4 ;
    padding-top: 10px;
    padding-bottom: 30px;
}
.logo-footer  {
    border:  dotted black;
    width: 10%;
}
/*regole di stile per le liste presenti nelle colonne*/
li{
    margin-top: 10px;
    list-style: none;
}
 
ul li:first-child{
    color: #6B7CB7;
}
.items{
    color: aliceblue;
    
}
i{
    margin-right: 10px;
}